.article-share ul {
    display: flex;
    list-style: none;
    width: 100%;
    margin-block: 0;
    padding-inline: 0;
    padding: 20px;
}

.article-share a {
    margin: 0 5px;
    border-radius: 100%;
}
.article-share i {
    font-size: 24px;
    color: black;
}