article {
    margin: 0 auto;
    width: 720px;
}

.article-title {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    margin-block-end: 0;
}
.article-subtitle {
    font-size: 24px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    margin-block-start: 10px;
}
.article-meta {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    padding-block-start: 0px;
    padding-block-end: 40px;
    align-items: center;
}
.author {
    display: flex;
    width: max-content;
}
.author-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 1000%;
    border: 2px solid gray;
    border-right: 2px solid black;;
    border-left: 2px solid black;;
    
}
.author-img img{
    border-radius: 100%;
    width: 32px!important;
    height: auto;
}
.author-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
    font-size: 14px;
    line-height: 20px;
}
.author-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.article-date {
    color: #535353;
    font-weight: 600;
}
.article-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article-body p {
    font-weight: 400;
    color: rgba(0,0,0,0.7);
    font-size: 16px;
    word-break:keep-all;
    line-height: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.2px;
    word-spacing: 0.5px;
}
.article-body a {
    color: inherit;
}
.article-body img {
    width: inherit;
}
.article-body figcaption {
    font-family: "Roboto", sans-serif;
    font-size:  14px;
    line-height: 20px;
    width: 100%;
    text-align: center;
    padding: 2px 0;
    color: rgba(0,0,0,0.4);
    font-weight: 500;
    margin-bottom: 40px;
}
.article-body h1 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    padding-block-start: 20px;
    padding-block-end: 0;
    width: 100%;
}
.article-footer {
    margin-top: 40px;
}
.article-tags {
    color: rgba(83, 83, 83, 0.9);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: "Roboto", sans-serif;
    display: flex;
}
.article-tags span {
    color: black;
    font-weight: 500;

}
.article-tags a {
    text-decoration: none;
    padding: 8px;
    background-color: #e4e4e499;
    margin-left: 10px;
    border-radius: 4px;
}
.article-tags a:hover {
    color: black!important;
    background-color: rgba(211, 211, 211, 1);
    transition: all 0.2s ease-in;
}
.article-tags a:visited {
    color: initial;
}
.article-tags ul {
    display: flex;
    list-style: none;
    width: 100%;
    margin-block: 0;
    padding-inline: 0;
}

.article-footer > .article-meta {
    margin-top: 20px;
    border-bottom: 1px solid #e4e4e4;
    padding-block-end: 10px;
}
.article-interactions {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.article-interact {
    display: flex;
    align-items: center;
    margin-right: 20px;
    line-height: 14px;
}
.article-interact i {
    padding: 0 8px;
    font-size: 21px;
    color: black;
}
.article-interact span {
    color: #535353;
    font-size: 14px;
}
