article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 720px;
}

.article-title {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    margin-block-end: 0;
}
.article-info {
    width: 100%;
}
.article-subtitle {
    font-size: 24px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    margin-block-start: 10px;
}
.article-meta {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    padding-block-start: 0px;
    padding-block-end: 40px;
    align-items: center;
}
.author {
    display: flex;
    width: max-content;
}
.author-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 1000%;
    border: 2px solid gray;
    border-right: 2px solid black;;
    border-left: 2px solid black;;

}
.author-img img{
    border-radius: 100%;
    width: 32px!important;
    height: auto;
}
.author-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
    font-size: 14px;
    line-height: 20px;
}
.author-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}
.article-date {
    color: #535353;
    font-weight: 600;
}
.article-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article-body p {
    font-weight: 400;
    color: rgba(0,0,0,0.7);
    font-size: 16px;
    word-break:keep-all;
    line-height: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.2px;
    word-spacing: 0.5px;
}
.article-body a {
    color: inherit;
}
.article-body img {
    width: inherit;
}
.article-body figcaption {
    font-family: "Roboto", sans-serif;
    font-size:  14px;
    line-height: 20px;
    width: 100%;
    text-align: center;
    padding: 2px 0;
    color: rgba(0,0,0,0.4);
    font-weight: 500;
    margin-bottom: 40px;
}
.article-body h1 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    padding-block-start: 20px;
    padding-block-end: 0;
    width: 100%;
}
.article-footer {
    width: 100%;
    margin-top: 40px;
}
.article-tags {
    color: rgba(83, 83, 83, 0.9);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: "Roboto", sans-serif;
    display: flex;
}
.article-tags span {
    color: black;
    font-weight: 500;

}
.article-tags a {
    text-decoration: none;
    padding: 8px;
    background-color: #e4e4e499;
    margin-left: 10px;
    border-radius: 4px;
}
.article-tags a:hover {
    color: black!important;
    background-color: rgba(211, 211, 211, 1);
    transition: all 0.2s ease-in;
}
.article-tags a:visited {
    color: initial;
}
.article-tags ul {
    display: flex;
    list-style: none;
    width: 100%;
    margin-block: 0;
    padding-inline: 0;
}

.article-footer > .article-meta {
    margin-top: 20px;
    border-bottom: 1px solid #e4e4e4;
    padding-block-end: 10px;
}
.article-interactions {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.article-interact {
    display: flex;
    align-items: center;
    margin-right: 20px;
    line-height: 14px;
}
.article-interact i {
    cursor: pointer;
    padding: 0 8px;
    font-size: 21px;
    color: black;
}
.article-interact span {
    color: #535353;
    font-size: 14px;
}
.ck-content {
    width: 720px!important;
    font-size: 16px;
    font-family: Roboto, "Times New Roman", sans-serif;
}

.ck-content figure {
    padding: 10px 0;
    margin: 0;
}
.ck-content figcaption {
    margin-bottom: 10px;
}

/* from https://codepen.io/johnfinkdesign/pen/gRvEGq */
.ck-content blockquote {
    border-left: 4px solid grey;
    color: #1a1a1a;
    padding: 10px 20px;
    font-size: 16px;
    position: relative;
    transition: .2s border ease-in-out;
    z-index: 0;
    margin: 0;
}
.ck-content blockquote i {
    color: inherit;
    font-size: 16px;
    font-family: Georgia, "Times New Roman", sans-serif;
    font-weight: 400;
}

.ck-content img {
    width: 100%;
}

.ck-content, .ck-content p {
    font-weight: 400;
    color: rgba(0,0,0,0.8) !important;
    font-size: 16px;
    word-break:keep-all;
    line-height: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.2px;
    word-spacing: 0.5px;
}
.ck-content > ul > li > strong {
    font-size: 14px;
}

.ck-content h2 {
    font-size: 24px!important;
    font-weight: 600!important;
    font-family: Roboto,sans-serif;
}

p.ck-placeholder {
    font-size: 21px;
    font-weight: normal;
    font-family: Georgia, "Times New Roman", sans-serif;
    margin-top: 20px!important;
    margin-bottom: 10px!important;
}
.ck-focused {
    border-color: transparent!important;
    box-shadow: none!important;
}

h1.ck-placeholder, h1 {
    font-size: 42px;
    font-weight: 400;
    font-family: Georgia, "Times New Roman", sans-serif;
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}

h1:focus {
    border-left: 1px solid grey;
}

.ck.ck-editor__editable > .ck-placeholder::before {
    color: #b7b7b7;
}

.loading {
    background-color: #e2e2e2;
    display: block;
}
/* The moving element */
.loading::after {
    display: block;
    content: "";
    position: absolute;
    width: 10%;
    height: inherit;
    transform: translateX(-100%);
    background: -webkit-gradient(linear, left top,
    right top, from(transparent),
    color-stop(rgba(255, 255, 255, 0.2)),
    to(transparent));

    background: linear-gradient(90deg, transparent,
    rgba(255, 255, 255, 0.2), transparent);

    /* Adding animation */
    animation: loading 0.8s infinite;
}

/* Loading Animation */
@keyframes loading {
    100% {
        transform: translateX(500%);
    }
}
.titleBlock {
    height: 60px;
    margin-bottom: 30px;
    width: 720px;
}
.subtitleBlock {
    height: 30px;
    width: 720px;
    margin-bottom: 24px;
}

.postInfoBlock {
    height: 60px;
    width: 720px;
    margin-bottom: 40px;
}
.postBodyBlock {
    height: 600px;
    margin-bottom: 40px;
    width: 720px;
}
.postFooterBlock {
    height: 80px;
    width: 720px;
}

.shrink {
    max-height: 800px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.separator {
    border-bottom: 2px solid #e4e4e4;
    margin: 40px 0;
}
.no-decor {
    text-decoration: none;
}