.container {
    display: flex;
    width: 1140px;
    margin-top: 60px;
    flex: 2;
}
.settingAccord {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: inherit;
    margin-right: 10px;
    width: 300px;
    padding: 0 20px;
}
.settingAccord h2 {
    font-family: "Roboto", sans-serif;
}
.setting-container {
    flex: 4;
    padding: 0 20px;
    margin-bottom: 80px;
}
.setting-container h2 {
    border-bottom: 2px solid #e4e4e4;
    padding-bottom: 10px;
}

.form-element {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-element-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-element-header h3 {
}
.form-element-header i {
    color: #000;
    font-size: 12px;
}
.form-element input {
    background: transparent;
    border: none;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    border-bottom: 1px dotted #d3d3d3;
    min-width: 300px;
    width: 400px;
    font-size: 18px;
    color: #535353;
    cursor: pointer;
}
.form-element input:focus {
    outline: none;
    border-bottom: 1px dotted #000;
}
.form-element-content {
    padding-left: -2px;
    display: flex;
    width: 600px;
}
.form-element-content img {
    width: 80px;
    margin: 0 10px;
}
.form-element-content p {
    max-width: 400px;
    font-size: 14px;
    color: #535353;
}
.form-element-content .left-col {
    width: 500px;
}

.inline-flex {
    display: flex;
    align-items: center;
}
.form-element-content label {
    margin-right: 10px;
    font-weight: 600;
    font-size: 16px;
}
button.editB {
    padding: 4px 10px;
    border-color: #535353;
    border-width: 1px;
    color: #535353;
    font-size: 14px;
    font-weight: 300;
    margin: 0 5px;
}
button.editB:hover {
    color: black;
    font-weight: 400;
    border-color: black;
}