.content-wrapper {
    display: flex;
    max-width: 1160px;
    margin: 60px auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

#posts-container {
    margin-right: 40px;
}

.post-card {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    max-width: 720px;
    max-height: 140px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-between;
}

.post-thumbnail img {
    width: 200px;
}

.post-thumbnail {
    margin-left: 10px;
}

.post {
    height: 100%;
}

.post-author a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.post-author a > img {
    width: 20px;
    border-radius: 100%;
    margin-right: 5px;
}

.post-author a > span {
    font-size: 14px;
    font-weight: 600;
}


.post h2 {
    margin-block-start: 10px;
    margin-block-end: 4px;
}

.post a {
    text-decoration: none;
}

.post p {
    margin-block-start: 0;
    font-weight: 600;
    color: #535353;
    font-size: 15px;
    margin-block-end: 10px;
}

.post-meta {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #535353;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.separator-dot {
    content: "";
    width: 4px;
    height: 4px;
    display: inline-flex;
    background: #00000054;
    margin: 0 10px;
    border-radius: 100%;
}

.post-tag {
    background: #e4e4e480;
    padding: 4px 10px;
    border-radius: 8px;
}
.post-tag:hover {
    background: #e4e4e4;
    cursor: pointer;
}