.profile-header-hero .navigation {
    background: transparent;
    border-bottom: 0;
}
.profile-header-hero .nav-brand {
    display: none;
}
/*
    https://wallpaperaccess.com/full/497086.jpg
	https://miro.medium.com/max/12000/1*J6TxIq8J4_-RA37HIiBHgw.jpeg
	https://i.pinimg.com/originals/1b/af/92/1baf92c01e80a6165b0443a2af3b075a.png
	https://i.imgur.com/pphU3fL.jpeg
	https://images.wallpapersden.com/image/download/anime-girl-in-school-uniform-watching-city-sky_a2VtZW2UmZqaraWkpJRmaGtrrWxrbQ.jpg
	https://i.pinimg.com/originals/53/ec/3b/53ec3b9bb35ea858f02cecb33543f1e8.jpg
	/public/img/profile-header.jpg

 */

.profile-header-hero {
    height: 400px;
    background: url("https://i.imgur.com/pphU3fL.jpeg");
    background-size: cover;
    width: 100vw;
    background-position-y: 471px;
}
.profile-header-cover {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    backdrop-filter: blur(1px);
}
#userName {
    position: relative;
    padding-bottom: 140px;
    width: 100%;
    text-align: center;
    left: auto;
    font-family: "Cascadia Code PL", "Times New Roman", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 52px;
    text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.4);
}

.profile-interactions {
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid #e4e4e4;
    padding: 0 120px;
}

.profile-interactions a:hover {
    color: black;
}

.profile-header-cover > .navigation, .profile-header-cover .btn-o, .profile-header-cover i {
    color: white;
    border-color: white;
}

.profile-header-cover .btn-o:hover {
    border-color: black;
}

.profile-interactions .nav-list {
    width: auto;
    margin: 30px 0;
    padding-left: 0;
    color: rgba(0,0,0,0.7);
    font-family: Georgia, "Times New Roman", sans-serif!important;
}

.profile-interactions .nav-item {
    margin: 0 10px;
}

.no-mar {
    margin: 0!important;
}
.p-interact {
    border-radius: 32px;
    background-color:dodgerblue;
    cursor: pointer;
    color: white;
    padding: 8px 10px;
}
.p-interact span {
    font-size: 16px;
    padding: 0 4px;
}
.p-interact i {
    font-size: 14px;
    padding-left: 0;
}

.profile-content {
    display: flex;
}
.profile-sidebar {
    max-width: 200px;
}
.profile-posts {
    max-width: 720px;
}
.profile-sidebar img {
    width: 131px;
    height: auto;
}
p.profile-name {
    font-family: Georgia, "Times New Roman", sans-serif;
    font-size: 18px;
    margin-bottom: 0;
}
p.profile-bio {
    font-family: Georgia, "Times New Roman", sans-serif;
    font-size: 14px;
    color: rgba(117, 117, 117, 1);
    line-height: 18px;
}

.page-wrapper {
    height: 100%;
    min-height: 540px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.overlapper {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    width: 1200px;
    margin: 60px auto;
}

.profile-sidebar {
    margin-top: 40px;
    height: 400px;
    overflow-y: scroll;
}
.profile-sidebar::-webkit-scrollbar {
    display: none;
}

.stick-side {
    position: fixed;
    top: 85px;
}

.followBtn {
    border-color: cornflowerblue;
    padding: 8px 12px;
    color: white;
    background-color: dodgerblue;
}

.profile-sidebar button {
    border-color: #1a1a1a;
    color: black;
    font-size: 14px;
    font-family: Georgia, "Times New Roman", sans-serif;
    padding: 6px 12px;
    width: initial!important;
}
.page-wrapper .profile-posts, .page-wrapper .profile-sidebar {
    z-index: 10;
}